<?php
//google key
$key = 'AIzaSyD8KHn5_9K1D5APov3Ynyrh8klbzGcMv84';
//
/database
$servername = "localhost";
$username = "root";
$password = "Apollo14";
$dbname = "p3musikk";

// Create connection
$conn = new mysqli($servername, $username, $password, $dbname);
// Check connection
if ($conn->connect_error) {
    die("Connection failed: " . $conn->connect_error);
} 

?>
